.create-riwayat {
    position: fixed;
    bottom: 3em;
    right: 3em;
    border-radius: 50%;
    width: 3em;
    background-color: white;
    box-shadow: 0 0 5px 0 black;
    font-size: 20px;
    line-height: 3em;
    text-align: center;
    box-sizing: border-box;
    z-index: 10;
}

.custom-file input[type=file] {
    display: none;
}