<div class="container">
    <div class="row mt-5 d-flex justify-content-center">
        <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class="h1">Kita berbeda, <strong class="px-3">bukan berarti buruk.</strong> Berani Beda Itu HEBAT dan
                Lebih
                Baik</h2>
            <h3 class="h2">Ayo, bersama-sama dalam meraih cita dan asa dengan berbagi kekuatan sambil berpegang tangan.
            </h3>
            <h5><strong class="px-3">Untuk membuktikan kehebatan kita kepada dunia</strong></h5>
            <p><a href="#" class="btn btn-primary mt-3 py-3 px-5">Get in touch</a></p>
        </div>
    </div>
</div>